﻿@model System.Collections.Generic.IEnumerable<HackathonApp.Business.PlayerRating>

@{
    ViewBag.Title = "TOP 10";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h2>TOP 10</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rating in Model)
            {
                <tr>
                    <td>@rating.PlayerName</td>
                    <td>@rating.Rating.ToString("F2")</td>
                </tr>
            }
        </tbody>
    </table>
</div>