﻿@model System.Collections.Generic.IEnumerable<HackathonApp.Models.MyGameHistoryGameModelItem>

@{
    ViewBag.Title = "My games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>My games</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Time</th>
                <th>Opponent</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr class="@item.RowClass">
                    <td>@item.Time</td>
                    <td>@item.Oponent</td>
                    <td>@item.Result</td>
                </tr>
            }
        </tbody>

    </table>
</div>