﻿@{
    ViewBag.Title = "About";
    ViewBag.AdditionalClass = "about-site";
}
<div class="jumbotron">
    <h2>@HackathonApp.Common.GeneralSettings.ApplicationName</h2>
    programmed by
    <h3>Majkl&Bogan dynamic duo</h3>
</div>
