﻿@{
    ViewBag.Title = "Home Page";
    ViewBag.AdditionalClass = "home-site";
}

<div class="jumbotron">
    <h1>@HackathonApp.Common.GeneralSettings.ApplicationName</h1>
    <p class="lead">GL HF ...</p>
    <p><a href="@Url.Action("Index", "Game")" class="btn btn-primary btn-lg">Start game</a></p>
</div>

