﻿@model HackathonApp.Models.IndexViewModel
@{
    ViewBag.Title = "Play!";
    ViewBag.PlayerName = !string.IsNullOrWhiteSpace(User.Identity.Name) ? User.Identity.Name : "Player 1";
    ViewBag.AdditionalClass = "game-site";
}
<div class="game-board">
    <div class="player-board player-board--left">
        <h1 class="player-board__name">@ViewBag.PlayerName</h1>
        <div class="player-battle-field">
            <div class="player-field"><canvas></canvas></div>
            <div class="cooldown-row"><canvas></canvas></div>
        </div>
        <div class="next-components-panel">
            <div class="next-components-panel__next1"><canvas></canvas></div>
            <div class="next-components-panel__next2"><canvas></canvas></div>
        </div>
    </div>
    
    <div class="player-board player-board--right">
        <h1 class="player-board__name">Player 2</h1>
        <div class="player-battle-field">
            <div class="cooldown-row"><canvas></canvas></div>
            <div class="player-field"><canvas></canvas></div>
        </div>
        <div class="mobile-controlls">
            <button class="btn btn-lg btn-success" data-dir="R"><span class="glyphicon glyphicon-arrow-up"></span></button>
            <button class="btn btn-lg btn-success" data-dir="L"><span class="glyphicon glyphicon-arrow-down"></span></button>
            <button class="btn btn-lg btn-success" data-dir="U"><span class="glyphicon glyphicon-repeat"></span></button>
            <button class="btn btn-lg btn-success" data-dir="D"><span class="glyphicon glyphicon-forward"></span></button>
        </div>
    </div>
    <div class="waiting-overlay">
        <div class="waiting-overlay__status">waiting for opponent</div>
        <input class="btn btn-primary waiting-overlay__ready-button" value="I am ready" type="button" />
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        startGame();
    </script>
}