﻿@model Boolean
@{
    ViewBag.Title = "Game over";
}
<div class="jumbotron">
    @if ((Boolean)Model)
    {
        <h1>You win!!!</h1>
    }
    else
    {
        <h1>You are ... looser :-)</h1>
    }
    <p><a href="@Url.Action("Index", "Game")" class="btn btn-primary btn-lg">Try again</a></p>
</div>