﻿@nextPanelWidth: 10vw;
@playerBoardWidth: 98vw/2;
@rowWidth: @playerBoardWidth/(22+2);
@playerFieldWidth: 22*@rowWidth;
@playerFieldHeight: @playerFieldWidth/2;


.game-board {
    position: fixed;
    top: 51px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.player-board {
    width: @playerBoardWidth;
}

.player-board__name {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 3vw;
}

.player-battle-field {
    display: flex;
}

.player-field {
    width: @playerFieldWidth;
    height: @playerFieldHeight;
    background: #534133;

    canvas {
        box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    }
}

.cooldown-row {
    width: @rowWidth;
    height: @playerFieldHeight;
    margin-left: @rowWidth;
}

.player-board--left {
    margin-left: 1vw;
}


.player-board--right {
    .cooldown-row {
        margin-right: @rowWidth;
        margin-left: 0;
    }

    .cooldown-row--move {
        margin-right: 0;
        margin-left: @rowWidth;
    }
}

.cooldown-row--move {
    margin: 0;
}

.next-components-panel {
    text-align: center;
}


.next-components-panel__next1, .next-components-panel__next2 {
    width: 8vw;
    margin: 10px 10px 10px 0;
    height: 8vw;
    float: left;

    canvas {
        border: 1px solid black;
        background: url(../Images/dirt.jpg);
        background-size: 500%;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    }
}


.waiting-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.waiting-overlay__status {
    margin-bottom: 1em;
    font-size: 2rem;
}

.waiting-overlay__ready-button {
    display: none;
}

.mobile-controlls {
    margin: 10px 0 0 @rowWidth*2;
    display: none;

    button {
        margin-right: 10px;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
        border-radius: 2px;
    }
}


@media screen and (max-width: 770px) {
    .game-site {
        .navbar {
            display: none;
        }

        .game-board {
            top: 0;
        }

        .mobile-controlls {
            display: block;
        }

        footer {
            display: none;
        }
    }
}
