﻿body {
    background: url(../Images/background.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.jumbotron {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    margin-top: 50px;
    background-color: rgba(238, 238, 238, 0.9);
}

.home-site, .about-site {
    .jumbotron {
        text-align: center;
    }
}

footer {
    position: fixed;
    height: 25px;
    line-height: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    border-top: 1px solid silver;
    background-color: #222222;
    color: #9d9d9d;
}
