body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
body {
  background: url(../Images/background.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.jumbotron {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
  background-color: rgba(238, 238, 238, 0.9);
}
.home-site .jumbotron,
.about-site .jumbotron {
  text-align: center;
}
footer {
  position: fixed;
  height: 25px;
  line-height: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  border-top: 1px solid silver;
  background-color: #222222;
  color: #9d9d9d;
}
.game-board {
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}
.player-board {
  width: 49vw;
}
.player-board__name {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 3vw;
}
.player-battle-field {
  display: flex;
}
.player-field {
  width: 44.91666667vw;
  height: 22.45833333vw;
  background: #534133;
}
.player-field canvas {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.cooldown-row {
  width: 2.04166667vw;
  height: 22.45833333vw;
  margin-left: 2.04166667vw;
}
.player-board--left {
  margin-left: 1vw;
}
.player-board--right .cooldown-row {
  margin-right: 2.04166667vw;
  margin-left: 0;
}
.player-board--right .cooldown-row--move {
  margin-right: 0;
  margin-left: 2.04166667vw;
}
.cooldown-row--move {
  margin: 0;
}
.next-components-panel {
  text-align: center;
}
.next-components-panel__next1,
.next-components-panel__next2 {
  width: 8vw;
  margin: 10px 10px 10px 0;
  height: 8vw;
  float: left;
}
.next-components-panel__next1 canvas,
.next-components-panel__next2 canvas {
  border: 1px solid black;
  background: url(../Images/dirt.jpg);
  background-size: 500%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.waiting-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
}
.waiting-overlay__status {
  margin-bottom: 1em;
  font-size: 2rem;
}
.waiting-overlay__ready-button {
  display: none;
}
.mobile-controlls {
  margin: 10px 0 0 4.08333333vw;
  display: none;
}
.mobile-controlls button {
  margin-right: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  border-radius: 2px;
}
@media screen and (max-width: 770px) {
  .game-site .navbar {
    display: none;
  }
  .game-site .game-board {
    top: 0;
  }
  .game-site .mobile-controlls {
    display: block;
  }
  .game-site footer {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
